<app-form (dataEmitter)="handleData($event)"></app-form>

<div class="grid gap-4">
  <div
    *ngFor="let item of data"
    class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3"
  >
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <!-- Aquí puedes poner una imagen si la tienes -->
        <!-- <img class="h-48 w-full object-cover md:w-48" src="/img/store.jpg" alt="Man looking at item at a store"> -->
      </div>
      <div class="p-8">
        <div
          class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
        >
          Nombre: {{ item.name }}
        </div>
        <p class="mt-2 text-gray-500">Apellido: {{ item.lastname }}</p>
        <p class="mt-2 text-gray-500">Stack: {{ item.stack }}</p>
        <p class="mt-2 text-gray-500">Carrera: {{ item.career }}</p>
        <p class="mt-2 text-gray-500">Año: {{ item.year }}</p>
      </div>
    </div>
  </div>
</div>
